body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #fffcf0;
  color: #8ab2a6;
}

h1 {
  color: rgb(62, 63, 91);
}

/*
https://colorhunt.co/
https://coolors.co/cb48b7-2e2d4d-337357-6d9f71-e4e3d3
https://color.adobe.com/cs/create/color-wheel
https://colourcontrast.cc/?background=ffe66d&foreground=222222
*/
