@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 10%;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 103, 129);
}

/*pseudoclass*/

/* a:visited {
  color: rgb(1, 136, 107);
} */

a:hover,
a:focus {
  color: hsl(330, 100%, 79%);
  background: rgb(255, 253, 148);
}

a:active {
  color: brown;
}

/*https://specificity.keegan.st/*/
